In [27]:

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

def concat_df(train_data, test_data):
    return pd.concat([train_data, test_data], sort=True).reset_index(drop=True)

def divide_df(all_data):
    return all_data.loc[:890], all_data.loc[891:].drop(['Survived'], axis=1)

train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

df_all = concat_df(train_data, test_data)
dfs = [train_data, test_data]

In [28]:
print('Train data contains: ' + str(len(train_data)) + ' rows and ' + str(len(train_data.columns)) + ' columns.')
print('Test data contains: ' + str(len(test_data)) + ' rows and ' + str(len(test_data.columns)) + ' columns.')

Train data contains: 891 rows and 12 columns.
Test data contains: 418 rows and 11 columns.

In [29]:
print('The first 3 rows of the train data:')
display(train_data.head())

print('The first 3 rows of the test data:')
display(test_data.head(3))

The first 3 rows of the train data:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The first 3 rows of the test data:

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [30]:
print('Missings in the train data;')
display(train_data.isnull().sum())

print('Missings in the test data:')
display(test_data.isnull().sum())

Missings in the train data;

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missings in the test data:

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [31]:
print('Missings in the entire data set: ' + str(df_all['Age'].isnull().sum()))
print('Missings in percentage: ' + str(round(df_all['Age'].isnull().sum()/len(df_all)*100.0)) + ' %')

Missings in the entire data set: 263
Missings in percentage: 20 %

In [32]:
#sns.catplot(train_data['Age'])

In [33]:

print('Median for Age separated by Pclass: ')
display(train_data.groupby('Pclass')['Age'].median())

print('Median for Age separated by Pclass and Sex: ')
display(train_data.groupby(['Pclass', 'Sex'])['Age'].median())

print('Number of cases: ')
display(train_data.groupby(['Pclass', 'Sex'])['Age'].count())

Median for Age separated by Pclass:

Pclass
1    37.0
2    29.0
3    24.0
Name: Age, dtype: float64

Median for Age separated by Pclass and Sex:

Pclass  Sex
1       female    35.0
        male      40.0
2       female    28.0
        male      30.0
3       female    21.5
        male      25.0
Name: Age, dtype: float64

Number of cases:

Pclass  Sex
1       female     85
        male      101
2       female     74
        male       99
3       female    102
        male      253
Name: Age, dtype: int64

In [34]:
df_all['Age'] = df_all.groupby(['Pclass', 'Sex'])['Age'].apply(lambda x: x.fillna(x.median()))

In [36]:

data = [train_data, test_data]
for r in dfTrain:
    dfTrain['relatives'] = dfTrain['SibSp'] + dfTrain['Parch']
    dfTrain.loc[dfTrain['relatives'] > 0, 'not_alone'] = 0
    dfTrain.loc[dfTrain['relatives'] == 0, 'not_alone'] = 1
    dfTrain['not_alone'] = dfTrain['not_alone'].astype(int)
dfTrain['not_alone'].value_counts()

NameError: name 'dfTrain' is not defined